<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
    {{>navbar}}
                <!-- main header -->

                <div class="cantainer-fluid main_header">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="row">
              <!-- left side -->
              <div class="col-md-6 col-12 main_header_left align-items-center">
                <figure>
                 <img src="images/404.png" alt="Prabh" class="img-fluid" title="Prabhjot" >
                </figure> 

</div>

              <div class="col-md-6 col-12 main_header_left">
                                    <p>Welcome to weather app</p>
                                    <h1>{{errormsg}}</h1>
                                    <a href="/"> <button>Go Back</button></a>
                                </div>
              <!-- rightside -->
    
            <!-- footer  -->
              {{>footer}}
        </body>
</html>